<img class="bg-img-login" src="/assets/img/Admin/election-commission.png" alt="">

<div class="container register-body">

  <div class="container row">
    <div class="col-sm-1 col-md-4 col-lg-4">

    </div>

    <div class="col-sm-10 col-md-4 col-lg-4" style="margin-top: 200px">

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input  matInput type="password" placeholder="Password" value="">
        </mat-form-field>


        <div class="example-button-row" style="margin-left: 50%">
          <button mat-raised-button>Login</button>
        </div>
      </form>

    </div>

    <div class="col-sm-1 col-md-4 col-lg-4">
    </div>

  </div>

</div>
