<!--<img class="bg-img" src="/assets/img/Admin/Fingerprint.png" alt="">-->

<div class="container register-body">

  <div class="container row">
    <div class="col-sm-1 col-md-4 col-lg-2">

    </div>

    <div class="col-sm-10 col-md-4 col-lg-6">

      <form class="example-form"  [formGroup]="partyForm" (ngSubmit)="onSubmit()">

        <br>
        <br>
        <br>
        <br>

        <div class="row">
          <div class="col-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Party name" value="" formControlName="name">
            </mat-form-field>


            <mat-form-field class="example-full-width">
              <mat-label>PartyColor</mat-label>
              <mat-select  formControlName="partyColourId" >
                <mat-option>None</mat-option>
                <mat-option *ngFor="let color of partyColorModel" [value]="color.id">{{color.colour}}</mat-option>
              </mat-select>
            </mat-form-field>

<!--            <mat-form-field class="example-full-width">-->
<!--              <input matInput placeholder="Party id" value="" formControlName="">-->
<!--            </mat-form-field>-->


          </div>
          <div class="col-6">
            <table>
              <td>
                <mat-card class="example-card-party">
                  <mat-card-header>
                    <mat-card-subtitle>Party logo</mat-card-subtitle>
                  </mat-card-header>
                  <img alt="Photo of a Shiba Inu" mat-card-image
                       src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                  <mat-card-actions>
                    <input mat-button type="file" placeholder="Add image" value="" />
                  </mat-card-actions>
                </mat-card>
              </td>
              <td>

              </td>
            </table>
          </div>
        </div>





        <!--<mat-form-field class="example-full-width">-->
        <!--<input type="text" placeholder="District" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
        <!--<mat-autocomplete #auto="matAutocomplete">-->
        <!--<mat-option *ngFor="let option of options" [value]="option">-->
        <!--{{option}}-->
        <!--</mat-option>-->
        <!--</mat-autocomplete>-->
        <!--</mat-form-field>-->

        <br>
        <br>
        <br>

<!--        <mat-form-field class="example-full-width-party">-->
<!--          <textarea matInput placeholder="Leave a comment" formControlName="cmt"></textarea>-->
<!--        </mat-form-field>-->

        <div class="example-button-row" style="margin-left: 50%">
          <button mat-raised-button type="submit" [disabled]="!partyForm.valid">Save</button>
        </div>


      </form>

    </div>


  </div>

</div>
