table {
  width: 100%;
}
.bg-vote{
  background-image: url("../../../assets/img/voter/election-ballot-papers.jpg");
  position: absolute;
  opacity: 0.1;
}
.party-logo{
  width: 80px;
  height: 80px;
}
/*check box*/
@supports (zoom:2) {
  input[type=checkbox]{
    zoom: 2;
  }
}
@supports not (zoom:2) {
  input[type=checkbox]{
    transform: scale(2);
    margin: 15px;
  }
}
label{
  /* fix vertical align issues */
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
