<br>
<br>
<br>
<p class="container bg-vote">
<!--  <img src="/assets/img/voter/election-ballot-papers.jpg" alt="">-->
</p>


<!--&lt;!&ndash;it ids for president election->-->
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Party name</th>
      <th scope="col">Party logo</th>
      <th scope="col">Select</th>
    </tr>
    </thead>
    <tbody *ngIf="votingList">
    <tr *ngFor="let list of votingList">
      <th class="row">{{list.candidateModel.no}}</th>
      <td class="col-lg-5">{{list.candidateModel.partyModel.name}}</td>
      <td class="col-lg-4">
        <img class="party-logo" src="/assets/img/party-logo/tna-house-vote-logo.jpg" alt="">
      </td>
      <td class="col-lg-3">
        <input #checkBox class="pvq-create-checkbox"
               type="checkbox"
               name="{{list.candidateModel.id}}"
               (change)="checkedState($event)" >
      </td>
    </tr>
    </tbody>
  </table>
</div>

