.dot {
  height: 25px;
  width: 25px;
  background-color: #00ff00;
  border-radius: 50%;
  display: inline-block;
}
.dotR {
  height: 25px;
  width: 25px;
  background-color: #ff0300;
  border-radius: 50%;
  display: inline-block;
}
