<div class="container">
  <br>
  <br>
  <br>
  <div>
    <h2 style="font-style: inherit">Candidate Registration</h2>
  </div>
  <div class="row">
    <div class="col-sm-1 col-md-4 col-lg-2"></div>
    <div class="col-sm-10 col-md-4 col-lg-8">

      <form class="example-form" [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
<!--        <mat-form-field class="example-full-width">-->
<!--          <input matInput placeholder="Candidate party" value="">-->
<!--        </mat-form-field>-->

        <table cellspacing="0" class="example-full-width">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Candidate name" formControlName="name">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <div  >
          <mat-form-field class="example-full-width">
            <input [formControl]="myControl" [matAutocomplete]="auto" aria-label="Number" matInput
                   placeholder="Election type"
                   type="text">
            <mat-autocomplete  #auto="matAutocomplete">
              <mat-option *ngFor="let option of activeElectionModel" [value]="activeElectionModel[0].electionTypeModel.type">
                {{option.electionTypeModel.type}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>


        <table cellspacing="0" class="example-full-width">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Voter ID" formControlName="voterId">
              </mat-form-field>
            </td>
            <td>
<!--              <mat-form-field class="example-full-width">-->
<!--                <input matInput placeholder="Party Name">-->
<!--              </mat-form-field>-->
              <mat-form-field class="example-full-width">
                <mat-label>Party Name</mat-label>
                <mat-select  formControlName="partyModelId" >
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let party of partyModel" [value]="party.id">{{party.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input #postalCode matInput maxlength="10" placeholder="Phone number" value="" formControlName="pno">
                <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>

<!--        <table>-->
<!--          <td>-->
<!--            <mat-card class="example-card">-->
<!--              <mat-card-header>-->
<!--                &lt;!&ndash;<div mat-card-avatar class="example-header-image"></div>&ndash;&gt;-->
<!--                &lt;!&ndash;<mat-card-title>Candidate image</mat-card-title>&ndash;&gt;-->
<!--                <mat-card-subtitle>Candidate image</mat-card-subtitle>-->
<!--              </mat-card-header>-->
<!--              <img alt="Photo of a Shiba Inu" mat-card-image-->
<!--                   src="https://material.angular.io/assets/img/examples/shiba2.jpg">-->
<!--              <mat-card-content>-->

<!--              </mat-card-content>-->
<!--              <mat-card-actions>-->
<!--                <input mat-button type="file" placeholder="Add image" value=""/>-->
<!--                &lt;!&ndash;<button mat-button>SHARE</button>&ndash;&gt;-->
<!--              </mat-card-actions>-->
<!--            </mat-card>-->
<!--          </td>-->
<!--          <td>-->

<!--          </td>-->
<!--        </table>-->


        <div class="example-button-row" style="margin-left: 50%">
          <button mat-raised-button [disabled]="!candidateForm.valid">Submit</button>
        </div>

      </form>
    </div>
    <div class="col-sm-1 col-md-4 col-lg-2"></div>

  </div>


</div>



