<br>
<br>
<br>
<br>
<br>
<p>
  voter-list works!
</p>

<div class="container">
  <h4>to do</h4>
  <h5>show all the users and search bar</h5>

  <p>search by district or GSDivision</p>
  <p>select and approve
  </p>
</div>

<div class="row">
  <div class="col-lg-1 col-md-1 col-sm-1" > </div>
  <div class="col-lg-10 col-md-10 col-sm-10" >

    <div class="row content">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">Users</h3>
          <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
          </div>
        </div>
        <table class="table container">
          <thead>
          <tr class="filters hide">
            <th><input type="text" class="form-control" placeholder="First Name" disabled></th>
            <th><input type="text" class="form-control" placeholder="Last Name" disabled></th>
            <th><input type="text" class="form-control" placeholder="NIC Number" disabled></th>
            <th><input type="text" class="form-control" placeholder="GSDivision" disabled></th>
<!--            <th><input type="text" class="form-control" placeholder="isVoter?" disabled></th>-->
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let singleVoter of voterList">
            <td>{{singleVoter.firstName}}</td>
            <td>{{singleVoter.lastName}}</td>
            <td>{{singleVoter.nicNo}}</td>
            <td>{{singleVoter.gsDivisionName}}</td>
<!--            <td>yes or no</td>-->
          </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>
  <div class="col-lg-1 col-md-1 col-sm-1" > </div>
</div>




