<p>
  party-list works!
</p>
<p>
  party-list works!
</p>

<div class="container row">
  <div class="col-lg-1 col-md-1 col-sm-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10">

    <div class="row content">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">Party List</h3>
          <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter
            </button>
          </div>
        </div>
        <table class="table container">
          <thead>
          <tr class="filters hide">
            <th><input type="text" class="form-control" placeholder="Party ID" disabled></th>
            <th><input type="text" class="form-control" placeholder="Party Name" disabled></th>
            <th><input type="text" class="form-control" placeholder="Colour" disabled></th>
            <th><input type="text" class="form-control" placeholder="isVoter?" disabled></th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let party of partyList">
            <td>{{party.id}}</td>
            <td>{{party.name}}</td>
            <td>{{party.color.colour}}</td>
            <!--            <td>yes or no</td>-->

            <button mat-button
                    class="t-btn t-btn-ex-small event-btn-2"
                    data-toggle="modal"
                    (click)="getPartyId(party)"
                    data-target="#myModal2">To Active
            </button>

          </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>
  <div class="col-lg-1 col-md-1 col-sm-1"></div>
</div>

<!--nominated party list-->
<div class="container row" *ngIf="nominatedElection">
  <div class="col-lg-1 col-md-1 col-sm-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10">

    <div class="row content">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">Nominated Party List</h3>

        </div>
        <table class="table container">
          <thead>
          <tr class="filters hide">
            <th>Party ID</th>
            <th>Party Name</th>
            <th>Colour</th>
<!--            <th><input type="text" class="form-control" placeholder="isVoter?" disabled></th>-->
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let party of nominatedElection">
            <td>{{party.id}}</td>
            <td>{{party.name}}</td>
            <td>{{party.color.colour}}</td>
            <!--            <td>yes or no</td>-->

<!--            <button mat-button-->
<!--                    class="t-btn t-btn-ex-small event-btn-2"-->
<!--                    data-toggle="modal"-->
<!--                    (click)="getPartyId(party)"-->
<!--                    data-target="#myModal2">To Active-->
<!--            </button>-->

          </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>
  <div class="col-lg-1 col-md-1 col-sm-1"></div>
</div>



<!--  show details-->
<div class="modal fade"
     id="myModal2"
     tabindex="-1"
     role="dialog"
     *ngIf="activeElection"
     aria-labelledby="myModal2Label"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card">

                  <div class="card-body">
                    <div class="card-title mb-4">
                      <div class="d-flex justify-content-start">
                        <div class="image-container">
                          <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px"
                               class="img-thumbnail"/>
                          <div class="middle">
                            <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change"/>
                            <input type="file" style="display: none;" id="profilePicture" name="file"/>
                          </div>
                        </div>
                        <div class="userData ml-3">
                          <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a
                            href="javascript:void(0);">{{party.name}}</a></h2>
                        </div>
                        <div class="ml-auto">
                          <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes"/>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab"
                               aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices"
                               role="tab"
                               aria-controls="connectedServices" aria-selected="false">Give to voter permission </a>
                          </li>
                        </ul>
                        <div class="tab-content ml-1" id="myTabContent">
                          <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                               aria-labelledby="basicInfo-tab">


                            <div class="row">
                              <div class="col-sm-3 col-md-2 col-5">
                                <label style="font-weight:bold;">Party ID</label>
                              </div>
                              <div class="col-md-8 col-6">
                                {{party.id}}
                              </div>
                            </div>
                            <hr/>

                            <div class="row">
                              <div class="col-sm-3 col-md-2 col-5">
                                <label style="font-weight:bold;">Party Color</label>
                              </div>
                              <div class="col-md-8 col-6">
                                {{party.color.colour}}
                              </div>
                            </div>
                            <hr/>

                          </div>
                          <div class="tab-pane fade" id="connectedServices" role="tabpanel"
                               aria-labelledby="ConnectedServices-tab">

                            <div class="row">
                              <div class="col-sm-3 col-md-2 col-5">
                                <mat-label style="font-weight:bold;">Election</mat-label>
                              </div>
                              <mat-form-field *ngIf="activeElection">
                                <select matNativeControl required *ngFor="let election of activeElection">
                                  <option (click)="getElectioTypeId(election.id)" value="{{election.id}}">{{election.electionTypeModel.type}}</option>

                                </select>
                              </mat-form-field>
                            </div>
                            <hr/>

                            <button (click)="partyNomination(party.id)">Confirm</button>
                            <br>
                            <br class="modal-header">
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>

